$lightgrey: #888;
$textColor: #bbb;
$navWidth: 100%;


html, body {
  font-family: "warnock-pro", georgia, serif;
  font-size:1.4em;
  font-weight: 300;
  line-height: 1.2em;
  background: #212121;
  color: $textColor;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  position:relative;
  &:link, &:visited {
    color: $textColor;
    text-decoration: none;
    // &:after {
    //   content: "";
    //   left:0;
    //   right: 0;
    //   bottom: 5px;
    //   position: absolute;
    //   border-bottom: 1px dotted $lightgrey;
    // }
  }
  &:hover, &:active {
    color: white;
    // &:after {
    //   content: "";
    //   left:0;
    //   right: 0;
    //   bottom: 0;
    //   position: absolute;
    //   border-bottom: 1px dotted white;
    // }
  }
}

nav {
  position: absolute;
  bottom:0;
  width:$navWidth;
  text-align: center;
  font-size: .8em;

  p {
    font-size:.6em;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    &:link, &:visited {

    }
    &:hover, &:active {
      background:blue;
    }
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;
    display: table;
    width:100%;
    li {
      display: table-cell;
      text-align: center;
      &:last-child {
        margin-right:0;
      }
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: "pragmatica-web-condensed", arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin:0;
  line-height: 1.2em;
}
h6 {
  font-family: "warnock-pro";
  font-style: italic;
  font-weight: normal;
  font-size:3rem;
}

p {
  margin:0;
  padding:0;
}

.view-container {
  position: relative;
  

  .view-animate {
    position: relative;
    padding:40px;
    &.ng-enter, &.ng-leave {
      -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

      display:block;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }

    &.ng-enter {
      left:100%;
    }
    &.ng-enter.ng-enter-active {
      left:0;
    }
    &.ng-leave.ng-leave-active {
      left:-100%;
    }
  }
}
