
<h1>Road Map</h1>

<ol id="roadmap">
	<li>
		<ul>
			<li>Data Gathering</li>
			<li>Financial Goals</li>
			<li>Risk Tolerance</li>
			<li>Long-range Plan</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals Review</li>
			<li>Road Map Created</li>
			<li>Investment Implementation</li>
			<li>Life Insurance</li>
			<li>Estate Plans Updated</li>
			<li>Ed: Diversification</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals Review</li>
			<li>Road Map Review</li>
			<li>Investment Review</li>
			<li>Insurance Implementation</li>
			<li>Estate Plans Completed</li>
			<li>ED: Long-term View of the Market</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Review Existing Plans</li>
			<li>Roadmap Review</li>
			<li>Investment Review</li>
			<li>Estate Planning</li>
			<li>Client Satisfaction Review</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals &amp; Situation Review</li>
			<li>Roadmap Review</li>
			<li>Investment Review</li>
			<li>Education Planning</li>
			<li>ED: US Equities</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals &amp; Situation Review</li>
			<li>Roadmap Review</li>
			<li>Investment Review</li>
			<li>ED: Fixed Income</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals &amp; Situation Review</li>
			<li>Roadmap Review</li>
			<li>Investment Review</li>
			<li>ED: International Investing</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>Goals &amp; Situation Review</li>
			<li>Roadmap Review</li>
			<li>Investment Review</li>
			<li>Family Meeting</li>
			<li>ED: Legacy Planning</li>
		</ul>
	</li>

</ol>


<!-- <div ng-click="beginning()" class="back btn">Back</div><div ng-click="nextMeeting()" class="next btn">Next</div> -->